@import "../styles/mixins";

.button {
  font-size: var(--heading--s);
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  color: #fff;

  &.edit {
    background-color: var(--light-gray);
    color: var(--steel-blue-1);

    &:hover {
      background-color: var(--light-gray-blue-1);
    }
  }

  &.delete {
    background-color: var(--bright-red);
    color: #fff;

    &:hover {
      background-color: var(--light-red);
    }
  }

  &.discard {
    @extend .edit;
  }

  &.save {
    @include flex-center;
    background-color: var(--dark-purple);
    position: relative;

    & > div {
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: #fff;
      @include flex-center;
      border-radius: 30px;
      left: 5px;
    }

    span {
      margin-left: 30px;
    }

    &:hover {
      background-color: var(--light-purple);
      transition: all 0.3s ease-in-out;
    }
  }

  &.draft {
    background-color: var(--light-blue-gray);
    color: var(--gray-blue);

    &:hover {
      color: var(--light-gray-blue);
    }
  }

  &.add {
    @extend .edit;
    width: 100%;
  }

  &.new {
    @extend .save;

    @include respond(phone) {
      padding: 10px 20px;
    }

    & > div {
      @include respond(phone) {
        width: 25px;
        height: 25px;
      }
    }

    span {
      @include respond(phone) {
        margin-left: 20px;
      }
    }
  }

  &.mark {
    @extend .save;
  }

  &.cancel {
    @extend .edit;
  }

  &.saveChanges {
    @extend .save;
  }
}
