@import "../styles/mixins";

.formRow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  min-width: 0;

  input {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--white);
  }

  input[type="date"] {
    cursor: pointer;
  }

  label {
    color: var(--steel-blue);
    font-weight: 500;
  }

  span {
    font-size: 1.4rem;
    color: #b91c1c;
  }
}
