@import "../styles/_mixins.scss";

.header {
  background-color: var(--light-blue-gray-2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  border-radius: 0px 20px 20px 0;
  z-index: 1000;
  padding-bottom: 2rem;

  @include respond(tab-land) {
    flex-direction: row;
    width: 100%;
    height: max-content;
    border-radius: 0px;
    padding-bottom: 0px;
    padding-right: 2rem;
  }

  .left_container {
    @include flex-center;
    background-color: var(--dark-purple);
    width: 10.3rem;
    height: 10.3rem;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;

    @include respond(tab-land) {
      width: 8rem;
      height: 8rem;
    }
    @include respond(tab-port) {
      width: 7.2rem;
      height: 7.2rem;
    }

    .logo {
    }

    &::after {
      content: "";
      position: absolute;
      width: 10.3rem;
      height: 10.3rem;
      // background-color: var(--light-purple);
      background-color: var(--light-purple);
      top: 50%;
      left: 0px;
      border-radius: 20px 0px 0px 20px;
      z-index: -10;

      background: linear-gradient(
        to bottom,
        var(--light-purple) 80%,
        transparent 50%
      );

      transition: all 0.3s ease;

      @include respond(tab-land) {
        width: 8rem;
        height: 8rem;
      }
      @include respond(tab-port) {
        width: 7.2rem;
        height: 7.2rem;
      }
    }

    &:hover::after {
      transform: translateY(-30%);
    }
  }

  .right_container {
    @include flex-center;
    flex-direction: column;
    position: relative;
    gap: 20px;

    @include respond(tab-land) {
      flex-direction: row;
    }

    .toggleIcon {
      cursor: pointer;

      .icon {
        // margin: 20px;
        position: relative;
        transition: all 2s;
      }
    }

    .divider {
      display: block;
      // height: 103px;
      width: 103px;
      border: 1px solid #494e6e;

      @include respond(tab-land) {
        width: 0px;
        height: 100%;
      }
    }

    .btn {
      cursor: pointer;
      position: relative;

      .popup {
        text-align: center;
        background-color: var(--white-2);
        color: var(--deep-black);
        padding: 1rem 0;
        display: block;
        position: absolute;
        min-width: 130px;
        top: -5px;
        left: 50px;
        border-radius: 8px;

        @include respond(tab-land) {
          left: -100px;
          top: 30px;
        }

        &:hover {
          background-color: var(--light-gray-blue);
        }
      }

      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all 0.3s;

        &:hover {
          border: 2px solid var(--dark-purple);
        }
      }
    }
  }
}
