.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;

  position: absolute;
  right: 10px;

  & > :first-child {
    height: 15px;
    width: 15px;
  }
}
