.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;

  position: absolute;
  right: 10px;

  ion-icon {
    height: 18px;
    width: 18px;

    &.pointer {
      cursor: pointer;
    }
  }
}
