@import "../styles/mixins.scss";

.status_container {
  @include flex-between;

  background-color: var(--white);
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1004);
  padding: 25px;
  border-radius: 8px;

  .status_bar {
    display: flex;
    align-items: center;
    gap: 20px;

    & > p {
      color: var(--other-gray);
    }

    .wrapper {
      @include flex-end;
      gap: 10px;
    }

    @include respond(phone) {
      @include flex-between;
    }
  }

  .control_btns {
    display: flex;
    align-items: items;
    gap: 10px;

    @include respond(phone) {
      justify-content: center;
      position: fixed;
      background-color: var(--white);
      padding: 2rem;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @include respond(phone) {
    display: block;
  }
}
