.statusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 40px;
  border-radius: 8px;
  font-size: var(--heading--s);
  font-weight: bold;

  span {
    display: inline-block;
    min-width: 7px;
    min-height: 7px;
    border-radius: 50px;
    margin-right: 10px;
  }

  &.paid {
    background-color: rgba(51, 214, 159, 0.057);
    color: #33d69f;
    span {
      background-color: #33d69f;
    }
  }

  &.pending {
    background-color: rgba(255, 143, 0, 0.0571);
    color: #ff8f00;
    span {
      background-color: #ff8f00;
    }
  }

  &.draft {
    background-color: rgba(55, 59, 83, 0.0571);
    color: var(--light-blue-gray);
    span {
      background-color: var(--light-blue-gray);
    }
  }
}
