@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";

.form_container {
  position: fixed;
  left: 90px;
  top: 0;

  width: 650px;
  background-color: #fff;
  height: 100vh;
  padding: 50px;
  border-radius: 0 11px 11px 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  opacity: 0;
  visibility: hidden;

  overflow-y: scroll;
  z-index: 800;

  &.open {
    visibility: visible;
    opacity: 1;
    animation: moveInLeft .5s ease-in-out forwards;
  }

  h2 {
    font-size: var(--heading--m);
    margin-bottom: 30px;
  }

  h6 {
    font-size: var(--heading--s);
    font-weight: 700;
    color: var(--dark-purple);
    margin-bottom: 20px;
  }

  .flexInputs {
    display: grid;
    // grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    justify-content: space-between;

    & > * {
      width: 160px;
    }

    input {
      align-items: center;
      justify-content: space-evenly;
    }
  }

  input {
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--light-gray-blue);
    font-weight: 700;
    font-size: var(--heading--s);
    color: var(--deep-black);
    padding: 0 10px;
  }
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4984);

  opacity: 0;
  visibility: hidden;

  transition: all 0.6s cubic-bezier(0.335, 0.01, 0.03, 1.36);

  &.in {
    opacity: 1;
    visibility: visible;
  }
}
