@import "../../styles/mixins";

.invoiceHeader {
  @include flex-between;
  width: 730px;

  .left_container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h2 {
      font-size: var(--heading--l);
    }

    p {
      color: var(--gray-blue);
      font-weight: 500;
    }
  }

  .right_container {
    display: flex;
    font-size: var(--heading--s);
    font-weight: 700;
    gap: 20px;
    position: relative;

    .filter {
      @include flex-center;
      gap: 10px;
    }

    .checkBox_container {
      background-color: #fff;
      border-radius: 8px;
      width: 192px;
      height: 128px;
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 10px 20px rgba(72, 84, 159, 0.25);
      left: -50px;
      top: 50px;
      padding: 20px;
    }
  }
}
