@import "../../../src/styles/mixins";

.auth_content {
  height: 100vh;
  width: 100vw;
  @include flex-center;

  background: linear-gradient(
    to right bottom,
    #5a639c,
    #5f66a0,
    #656aa5,
    #6a6da9,
    #7071ad,
    #7674b0,
    #7b77b3,
    #817ab6,
    #887db8,
    #8e80ba,
    #9583bb,
    #9b86bd
  );

  .auth_wrapper {
    box-shadow: var(--box-shadow-1);
    width: 50rem;
    max-width: 50rem;
    padding: 2rem;
    border-radius: 4px;

    background-color: var(--off-white);

    .heading {
      @include flex-center;

      flex-direction: column;
      gap: 10px;

      .logo {
        @include flex-center;

        background: linear-gradient(to bottom, #7c5dfa, #9277ff);
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }
    }

    .forgot {
      display: inline-block;
      color: var(--light-purple);
      margin-bottom: 20px;
    }

    .auth_form {
      input:focus {
        outline: none;
        box-shadow: 0px 0px 2px var(--dark-purple);
      }
      .member {
        margin-top: 20px;
        text-align: center;

        .signed {
          display: inline-block;

          &:link,
          &:visited {
            color: var(--dark-purple);
            border-bottom: 1px solid var(--light-purple);
            transition: all 0.3s;
          }

          &:active,
          &:hover {
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
            transform: rotate(3deg) scale(1.2);
          }
        }
      }
    }
  }
}
