@import "../../styles/_mixins.scss";

.listItem {
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 1rem;

  input:disabled {
    color: var(--gray-blue);
    border: none;
    background-color: transparent;
  }

  .iconBox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    svg {
      // height: 20px;
      // width: 20px;
      color: #7e88c3;
      transition: color 0.3s;

      &:hover {
        color: var(--bright-red);
      }
    }
  }
}
