@import "../../styles/mixins.scss";

.detail_wrapper {
  background-color: var(--white);
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1004);

  padding: 25px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .detail_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-weight: 500;
    color: var(--steel-blue);
    margin-bottom: 20px;

    @include respond(phone) {
      grid-row-gap: 20px;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: repeat(2, 1fr);
    }

    h4 {
      margin-top: 10px;
    }

    .general {
      .id {
        font-size: var(--heading--s);

        span {
          color: var(--gray-blue);
        }
        font-weight: bold;
        color: var(--deep-black);
      }
    }

    .senderAddress {
      grid-row: span 1;
      grid-column: 4 / 5;
      text-align: right;

      justify-self: end;

      @include respond(phone) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        text-align: left;
        justify-self: start;
      }
    }

    .clientAddress {
      margin-right: 20%;

      @include respond(phone) {
        grid-row: 3 / 4;
        grid-column: 2 / 2;
      }
    }

    .dateBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // margin-bottom: 20px;

      @include respond(phone) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }

      .dueBox {
        // justify-self: flex-end;
      }
    }

    .sentTo {
      justify-self: end;

      @include respond(phone) {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        justify-self: start;
      }
    }
  }
}
