@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";

.form_container {
  position: fixed;
  left: 8rem;
  top: 0;
  bottom: 0px;

  max-width: 65rem;
  background-color: #fff;
  padding: 5rem;
  border-radius: 0 11px 11px 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  opacity: 0;
  visibility: hidden;

  overflow: auto;

  z-index: 800;

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond(tab-land) {
    padding: 3rem;

    left: 0px;
    top: 8rem;
  }

  @include respond(tab-port) {
    top: 7.2rem;
  }

  @include respond(phone) {
    width: 100%;
    max-width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // overflow-y: scroll;
  }

  &.open {
    visibility: visible;
    opacity: 1;
    animation: moveInLeft 0.5s ease-in-out forwards;
  }

  h2 {
    font-size: var(--heading--m);
    margin-bottom: 3rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  h6 {
    font-size: var(--heading--s);
    font-weight: 700;
    color: var(--dark-purple);
    margin-bottom: 2rem;
  }

  .flexInputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-column-gap: 2rem;

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    input {
      align-items: center;
      justify-content: space-evenly;
    }
  }

  input[type="text"].hoverInput {
    cursor: pointer;
  }

  input[type="text"].hoverInput:hover,
  input[type="text"].hoverInput:focus {
    outline: none;
    border: 1px solid var(--dark-purple);
  }

  input,
  .selectDropdown {
    border-radius: 4px;
    border: 1px solid var(--light-gray-blue);
    font-weight: 700;
    font-size: var(--heading--s);
    color: var(--deep-black);
    gap: 1rem;
  }

  .selectDropdown {
    box-shadow: 0 10px 20px rgba(72, 84, 159, 0.25);
    .selectDropdown_option {
      padding: 1.5rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--light-gray-blue);
      }

      &:hover {
        cursor: pointer;
        color: var(--dark-purple);
        transition: all 0.2s;
      }
    }
  }

  .buttonControls {
    margin-top: 3rem;

    @include flex-between;

    div {
      @include flex-around;
      gap: 1rem;
    }
  }
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4984);

  opacity: 0;
  visibility: hidden;

  transition: all 0.6s cubic-bezier(0.335, 0.01, 0.03, 1.36);

  &.in {
    opacity: 1;
    visibility: visible;
  }
}
