@import "../../styles/mixins";

.receipt_container {
  
  .wrapper {
    border-radius: 15px 15px 0 0;
    background-color: var(--light-gray);
    padding: 20px;

    .itemName,
    .total {
      font-size: var(--heading--s);
      font-weight: 700;
      color: var(--deep-black);
    }

    .quantity {
      color: var(--steel-blue);
      font-weight: 700;
    }

    .receiptTable {
      width: 100%;

      tr {
        td:first-child {
          text-align: left;
        }
        td {
          text-align: right;
        }
      }

      thead {
        color: var(--steel-blue);
        font-weight: 500;
        flex-grow: 1;

        @include respond(phone) {
          display: none;
        }
      }

      tbody {
        font-size: var(--heading--s);
        font-weight: 700;
        color: var(--steel-blue);

        p {
          display: none;

          @include respond(phone) {
            display: block;
          }
        }
      }

      @include respond(phone) {
        display: none;
      }
    }

    .phoneResponsive {
      display: none;

      @include respond(phone) {
        @include flex-between;
      }
    }
  }

  .total_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--light-blue-gray);
    color: #fff;
    font-weight: 500;
    border-radius: 0 0 15px 15px;

    .totalValue {
      font-weight: 700;
      font-size: var(--heading--m);
    }
  }
}
