.formRow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  min-width: 0;

  input {
    padding: 20px;
  }

  label {
    color: var(--steel-blue);
    font-weight: 500;
  }
}
