:root {
  // COLOR VARIABLES

  // For Light Mode

  &,
  &.light-mode {
    --off-white: #f8f8fb;

    --white: #ffffff;
    --white-2: #ffffff;
    --white-3: #ffffff;

    --light-blue-gray: #373b53;
    --light-blue-gray-2: #373b53;

    --other-gray: #858bb2;
    --other-gray-2: #858bb2;

    --light-gray-blue: #dfe3fa;
    --light-gray-blue-1: #dfe3fa;

    --light-gray: #f9fafe;
    --light-gray-1: #f9fafe;

    --gray-blue: #888eb0;
    --steel-blue: #7e88c3;
    --steel-blue-1: #7e88c3;

    --deep-black: #0c0e16;

    --box-shadow-1: 0 10px 20px rgba(72, 84, 159, 0.25);
  }

  // For Dark Mode
  &.dark-mode {
    --off-white: #141625;

    --white: #1e2139;
    --white-2: #252945;
    --white-3: #141625;

    --light-blue-gray: #0c0e16;
    --light-blue-gray-2: #1e2139;

    --other-gray: #dfe3fa;
    --other-gray-2: #ffffff;

    --light-gray-blue: #1e2139;
    --light-gray-blue-1: #fff;

    --light-gray: #252945;

    --steel-blue: #dfe3fa;
    --gray-blue: #dfe3fa;

    --deep-black: #fff;

    --box-shadow-1: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  --dark-purple: #7c5dfa;
  --light-purple: #9277ff;
  --bright-red: #ec5757;
  --light-red: #ff9797;

  // FONT VARIABLES
  --font-primary: "League Spartan", sans-serif;

  /* Text-size styles */
  /* base size: heading--l (36px) */
  --heading--l: 3.6rem;
  --heading--m: 2.4rem;
  --heading--m-variant: 1.8rem;
  --heading--s: 1.5rem;
  --body: 1.3rem;
  --body--variant: 1.3rem;
}
