@import "./variables";
@import "./mixins";
@import "./animations";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: var(--font-primary);
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: var(--body);
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

button {
  display: block;
  cursor: pointer;
  color: none;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h3 {
  font-weight: 700;
  color: #777f98;
  font-size: var(--heading--m-variant);
}

h4 {
  font-weight: 700;
  color: var(--deep-black);
  font-size: var(--heading--m-variant);
}

h5 {
  font-weight: 700;
  color: var(--deep-black);
  font-size: var(--heading--s);
}

h6 {
  font-weight: 700;
  color: var(--deep-black);
  font-size: var(--heading--m);
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    @include flex-between;

    .react-datepicker__calendar-icon {
      width: 2rem;
      height: 2rem;
      right: 20px;
    }

    input[type="text"] {
      padding: 1.5rem;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        border: 1px solid var(--dark-purple);
      }
    }
  }
}

.calendarContainer {
  width: 200px;
}
